<div class="wrap flex">
    {{#each chanList}}
    <div class="chanList">
        <a href="/review/{{this.ratingUrl}}">
            <img src="{{this.channelThumb}}" alt="{{this.channelTitle}}">
            <p>{{this.channelTitle}}</p> 
        </a>    
        <span class="count">{{this.reviews.length}}</span>
    </div>
    {{/each}}
</div>