<div id="yt-banner">

</div>
<div class="wrap flex">
    <main>
        <h1>{{ title }}</h1>
        <p>Welcome to <b>{{ title }}</b> a YouTube channel review site</p>
    </main>
    <aside>
        <h2>Latest reviews</h2>
        <ul class="latest-home">
        {{#each result}}
            <li>
                <a href="/review/{{ this.channel }}">
                    {{ this.channel }}
                    <span>{{ this.title }}</span>
                </a>
            </li>
        {{/each}}
        </ul>
    </aside>
</div>