<div id="yt-wrap"><div id="yt-banner" style="background-image: url('{{reviewData.channelBanner}}')"></div></div>
<div class="wrap flex">
    <main>
        <h1>{{reviewData.channelTitle}} review</h1>

            {{#paginate reviewData.reviews 5}}

            {{/paginate}}

    </main>
    <aside class="sidebar" id="prev-info">
        <div class="flex mbottom">
            <div id="prev-thumb" style="background-image: url('{{reviewData.channelThumb}}')"></div>
            <div id="prev-heading"><a href="https://www.youtube.com/channel/{{reviewData.channelId}}?sub_confirmation=1" id="subs" class="button subscribe">Subscribe</a></div>
        </div>
        <div id="prev-desc">{{{reviewData.channelDescription}}}</div>
        
        <div class="hide">
            <div id="chanID">{{reviewData.channelId}}</div>
            <button id="signin-button" onclick="handleSignInClick()">Sign In</button>
            <button id="signout-button" onclick="handleSignOutClick()">Sign Out</button>
        </div>
    </aside>
</div>
<script src="/javascripts/yt-api-show.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
    onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>